.quarterly-goals-item-container {
  display: flex;

  .left-items {
    display: flex;

    .goal-title {
      
    }

    .goal-hashtag {
      
    }
  }

  .goal-counter {
    margin: auto 10px 10px auto;
  }
}