:host {
  display: block;
  .quarterly-goals-header-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;

    .quarterly-goals-text {
      display: flex;
      gap: 40px;
    }
  }
}
